@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Poppins:wght@400;500;600;700;800&display=swap');


:rood{
  --color-yollow:#f9c74f;
  --color-purple:#9d4edd;
}
*>*{
  font-family: 'Poppins', sans-serif;
  margin:0;
  padding: 0;
}
.App-logo{
  height: 40vmin;
  pointer-events:none;
}

.App {
  text-align: center;  

}
.bg-yellow{
  background-color: var(--color-yollow);
}
.bg-purple{
  background-color: var(--color-purple);
}
.container{

    margin-left: auto;
    margin-right: auto;
    max-width: 100vw;
    text-align: center;
    padding-top: 2rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* This is similar to drop-shadow-lg */
    color: #333; /* This is similar to text-gray-800 */
}
.container h1{
  font-size: 2rem; /* Equivalent to text-4xl */
  padding: 2rem; /* Equivalent to py-8 */
  margin-bottom: 2.5rem; /* Equivalent to mb-10 */
  background-color: #1e2a38; /* Equivalent to bg-slate-800 */
  color: white; /* Equivalent to text-white */
  border-radius: 0.5rem; /* Equivalent to rounded */
}
.grid-columns{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}
