@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Poppins:wght@400;500;600;700;800&display=swap');


:rood{
  --color-yollow:#f9c74f;
  --color-purple:#9d4edd;
}
*>*{
  font-family: 'Poppins', sans-serif;
  margin:0;
  padding: 0;
}
.App-logo{
  height: 40vmin;
  pointer-events:none;
}

.App {
  text-align: center;  

}
.bg-yellow{
  background-color: var(--color-yollow);
}
.bg-purple{
  background-color: var(--color-purple);
}

