@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Poppins:wght@400;500;600;700;800&display=swap');

.form-main{
    max-width: 20rem;
    margin-left: auto;
    margin-right: auto;
    width: 24rem;
}
.form-heard{
    font-weight: bold;
    padding-bottom: 2rem;
    font-size: 1.25rem;
}