@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Poppins:wght@400;500;600;700;800&display=swap');


.graph-container{
    display: flex;
    justify-content:center;
    max-width: 20rem;
    margin-left: auto;
    margin-right: auto;
}
.chart{
    position: relative;
}
.lables-div{
    display: flex;
    flex-direction: column;
    padding-top: 2.5rem;
}
.lables-div > * + * {
    margin-top: 1rem; /* Equivalent to gap-4 */
  }

.title{
   margin-bottom: 1rem;
   font-weight: bold;
   font-size: 24px;
 
}  
.chart span{
    display: block;
    font-size: 1.875rem;
    color: #38a169;
    padding: 20px;
    /* color: #f41313; */
}
.chart span,  .title  {
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    margin-left: auto;
    margin-right: auto;

}